# Telegram Bot Token (BotFather orqali oling)
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Admin ID (Telegram ID)
ADMIN_ID=123456789

# Telethon API ma'lumotlari (my.telegram.org dan oling)
API_ID=your_api_id
API_HASH=your_api_hash

# Telegram telefon raqami
PHONE_NUMBER=+998901234567
